@import './Header.sass'
@import './Menu.sass'
@import './Principal.sass'
@import './Registro.sass'
@import './Layout.sass'
@import './Footer.sass'
@import './Information.sass'
@import './Prueba.sass'
@import './Ayuda.sass'
body
    padding: 0px
    margin: 0px
.Dark
    background-color: #3498DB
.Light
    background-color: #088A08

.pageDark
    background-color: green
    color: orange
.pageLight
    background-color: #04B404
    color: #ffffff
    font-size: 35px
    .headercontainerName
       text-align: center 
           

    
       