.Header
    position: fixed
    top: 10
    left: 0
    width: 100%
    display: grid
    grid-template-rows: 1fr 1fr 1fr 1 
    height: 100px
    .headerContainer
        display: grid
        grid-template-columns: 1fr  1fr 3fr
        align-items: center
        align-content: center
        justify-content: center
        justify-items: center
        width: 50%
        height: 40px
        margin-top:0
        margin-bottom: 10px
        .headercontainerLogo
            height: 90px
            transform: translateY(30px)
        .headercontainerName
          width: 80px
          height: 15px
          font-size: 30px
          color: #ffffff
          &:hover
            color: yellow
          
              
        
    
         
        