.Principal
    display: grid
    margin:0px
    justify-items: center
    align-items: center
    padding: 50px
.principalTitle
        display: grid
        text: center
.principalImg
        border-radius: 100%
.PrincipalText
        color: #ffffff
        font-size: 25px
        
         